/* src/App.css */

.App {
  text-align: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #340af1;
}

.response {
  margin-top: 10px;
  color: rgb(0, 255, 8); /* Change this to green or other color for success messages */
}

.category-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category-button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f5f5f5;
}

.category-button:hover {
  background-color: #e0e0e0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.product-item {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.product-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-item img {
  max-width: 100%;
  border-radius: 8px;
}

.product-item h3 {
  margin: 10px 0 5px 0;
}

.product-item p {
  margin: 0;
}

.home-container {
  text-align: center;
  margin-top: 50px;
}

.button-container {
  margin-top: 20px;
}

.home {
  text-align: center;
  margin-top: 20px;
}

.auth-buttons {
  margin-bottom: 20px;
}

.home-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.home-button:hover {
  background-color: #0056b3;
}

.navbar {
  position: flex;
  padding: 10px;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

.searchbar {
  margin-left: auto;
}

.search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 10px;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a{
  text-decoration: none;
  color: #333;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;

}